<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
</head>

<body>
    <div id="chatroom">
        <form action="" id="send_container">
            <input type="text" id="message">
            <button type="submit" id="sendBtn">Ask Bot</button>

        </form>

    </div>
    <script src="/js/script.js"></script>
</body>

</html>