<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
</head>

<body>
    <input type="text" name="message" id="">
    <button id="send">Ask Bot</button>
    <script src="/js/script.js"></script>
</body>

</html>